body {
	margin: 0;
}

#container {
	position: relative;
	user-select: none;
}

#canvas {
	width: 100vw;
	height: 100vh;
	display: block;
}

#fps {
	position: absolute;
	right: 5px;
	top: 5px;
	background: rgba(0, 0, 0, 0);
	color: white;
	font-family: monospace;
	border-radius: .5em;
	background: rgba(0, 0, 0, 0);
}

.no-hud #hud, .no-hud #fps {
	display: none;
}

#hud {
	position: absolute;
	left: 5px;
	top: 5px;
	background: rgba(120, 120, 120, .4);
	color: white;
	font-family: monospace;
	border-radius: .5em;
	padding: .5em;
	pointer-events: none;
	overflow: hidden;
}

#hud-trigger {
	pointer-events: auto;
	cursor: pointer;
	line-height: .7em;
	font-size: x-large;
	transition: opacity .3s ease-out;
	opacity: 0.5;
}

#hud-trigger:hover, #hud-trigger.open {
	opacity: 1;
}

#hud-inputs {
	transition: visibility .3s, width .3s, height .3s, margin-top .3s;
	white-space: nowrap;
	text-align: right;
	margin-top: 10px;
	line-height: 24px;
}

#hud-inputs.hidden {
	height: 0;
	width: 0;
	margin-top: 0px;
	visibility: hidden;
}

#hud-inputs input {
	width: 80px;
	pointer-events: auto;
}

#hud ul {
	list-style: none;
}

#hud li {
	text-align: left;
}

@media only screen and (min-resolution: 200dpi) {
	#hud {
		display: none;
	}
}